@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    background-image: url("../img/background.png");
    /* font-family: Arial, sans-serif; */
    /* font-size: 12px; */
}

#container {
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

.legend-photo {
    background-color: #000;
    height: 20px;
    color: white;
    text-align: center;
    opacity: 0.8;
}

#menu {
    display:flex;
    justify-content: flex-end;
    height: 50px;
    background-color: #C55394;
    color :white;
}

#menu p{
    padding-left: 30px;
}

#menu:hover {
    cursor: crosshair;
    color: black;
}

h1 {
    font-family: 'Courgette', cursive;
    text-align: center;
    color: #C55394;
}

.titre {
    font-family: 'Courgette', cursive;
    color: #C55394;
}

.images {
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* margin: 0 auto; */
}

.images-licorne {
    width: 200px;

}

.images-licorne figure{
}

